.canvasSect{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.contestWindow{
    display: block;
    aspect-ratio: 1920/1080;
    width: clamp(420px, 60cqi, 1200px);
    max-width: 1200px;
    min-width: 480px;
    margin-inline: auto;
    margin-block: auto;
    height: auto;
    border: 4px solid var(--alt-blue);
    background-color: var(--off-black);
    border-radius: 6px;
}

.stacker{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    background-color: var(--alt-blue);
    color: var(--off-white);
    padding-block: 1.5em;
    padding-inline: clamp(5px, 2cqi, 2em);
    border: 2px solid var(--off-black);
    overflow-y: scroll;
}

.hiddenPlayer{
    display: none;
}

.sticker{
    display: block;
    max-width: clamp(100px, 4cqi, 200px);
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
}

.stickerButtonStack{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
}

.stickerButton{
    /* min-height: 100px; */
    min-height: 100px;
    width: fit-content;
}

.hiddenSticker{
    display: block;
    width: 50px;
    aspect-ratio: 1/1;
    height: auto;
}

.contest{
    /* display: grid;
    grid-template-columns: 1fr 4fr 1fr; */
    overflow: hidden;
    position: relative;
}

.filterHolder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.filterStack{
    margin-block: auto;
    border-radius: 0 32px 32px 0;
    height: fit-content;
    border-left: 0;
}

.filterStack button{
    width: 100%;
    height: auto;
    padding: 0.25em 0.45em;
    border: 2px inset var(--off-black);
    border-radius: 8px;
    line-height: 1;
}

.stickerStack{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 32px 0 0 32px;
    border-right: 0;
}

.stickerStack button{
    border: 2px inset var(--off-black);
    border-radius: 8px;
    overflow: hidden;
}

.active{
    background-color: var(--off-black);
    color: var(--off-white);
    transition: all .25s ease-in-out
}

.historyStack{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-block: 2em;
    overflow-y: scroll;
}

.cameraButton{
    font-size: clamp(1.25rem, 2cqi, 1.75rem);
    padding: 0.25em 0.35em;
    border: 2px inset var(--off-black);
    border-radius: 6px;
}

.cameraButton:hover, .cameraButton:focus{
    background-color: var(--off-black);
    color: var(--off-white);
    transition: all .25s ease-in-out;
}

.historyPic{
    display: block;
    max-width: 185px;
    height: auto;
    animation-name: fadeIn;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.activeSticker{
    scale: 1.08;
    box-shadow: 4px 4px 6px var(--off-white);
    transition: all 0.4s linear;
}


@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@media screen and (width < 1000px){
    .stacker, .filterHolder{
        position: relative;
        flex-direction: row;
    }
    .filterHolder{
        justify-content: flex-start;
        order: 1
    }

    .stickerStack{
        order: 3;
    }

    .canvasSect{
        order: 2;
    }

    .stickerStack{
        flex-direction: column;
    }

    .stickerButtonStack{
        flex-direction: row;
    }

    /* .sticker{
        width: 100%;
    } */

    .contest{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .contestWindow{
        width: clamp(275px, 80cqi, 800px);
    }
}